body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 60px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.left-links, .right-links {
   list-style-type: none;
   display: flex; 
   align-items: center;
   padding: 0;
   gap: 16px;
}